@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', cursive;
}

body {
    overflow-x: hidden;
    user-select: none;
}

/* Scroll Body */

.scrollBody {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) rgb(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
.scrollBody::-webkit-scrollbar {
    width: 12px;
}

.scrollBody::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

.scrollBody::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
}

/* NAVBAR */
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: white;
}

.nav-list a:hover {
    color: rgb(124, 124, 124);
    border-bottom: 3px solid rgb(124, 124, 124);
    opacity: 0.7;
}

nav img {
    width: 100px;
    height: 60px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.63);
    height: 10vh;
}

.nav-list {
    font-size: 20px;
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.bgBlack {
    background: black;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vw;
        height: 90vh;
        background: rgba(0, 0, 0, 0.822);
        flex-direction: column;
        align-items: center;
        padding-right: 5%;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list a.active {
    color: rgb(124, 124, 124);
    border-bottom: 3px solid rgb(124, 124, 124);

}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*BANNEr*/

section {
    height: auto;
    overflow: hidden;
}

#background {
    width: 100%;
    position: fixed;
    display: flex;
}

#home {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home .homeStart {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: #000 2px 2px 2px;
}

#home .homeStart {
    display: none;
}



#home .about {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.527);
}

#home .about .text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    overflow: hidden;
}

#home .supportService {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.527);
}

#home .supportService {
    display: none;
}

#home .supportService .form {
    width: 60%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

#home .supportService .form form {
    width: 100%;
    max-width: 30rem;
}

label,
#Support,
textarea,
#button {
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}

#Support,
textarea {
    margin-bottom: 1rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.664);
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s;
    box-shadow: 0.3s;
}

label {
    color: black;
}

textarea {
    min-height: 10rem;
    resize: vertical;
}

#button {
    border: none;
    background: rgb(0, 0, 0);
    color: white;
}

#button:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}